<style>
.test{
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: purple;
    padding-left: 2em;
	text-align: center;
}

table.steelBlueCols {
  border: 4px solid #555555;
  background-color: #A4A4A4;
  width: 50%;
  height: 50%;
  text-align: center;
  border-collapse: collapse;
}
table.steelBlueCols td, table.steelBlueCols th {
  border: 4px solid #555555;
  padding: 5px 10px;
}
table.steelBlueCols td {
  font-size: 250%;
  font-weight: bold;
  color: #000000;
  height: 15vh;
}
table.steelBlueCols td:nth-child(even) {
  background: #A4A4A4;
}

div.title {
	height: 20vh;
	width: 100vw;
	background: url("https://assets.codepen.io/209981/iStock-1490023614.jpg");
	background-size: 100% 100%;
	background-position: center 50%;
	transition: all ease 1s;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #37fffe;
	box-shadow: -2px 2px #fc00a3;
	place-items: center;
}

div.title:hover {
	background-size: 170% 170%;
}

@font-palette-values --retro {
	font-family: "Honk";
	base-palette: 5;
	override-colors: 0 #03001f, 1 #03001f, 2 transparent, 3 transparent,
		4 transparent, 5 transparent, 6 transparent, 7 transparent;
}

h1 {
	font-family: "Honk", system-ui;
	font-optical-sizing: auto;
	font-weight: 40;
	font-style: normal;
	font-variation-settings: "MORF" 14, "SHLN" 100;
	font-palette: --retro;
	font-size: calc(5vw + 0.5rem);
	letter-spacing: 0.2ch;
	filter: drop-shadow(-1px 1px 0px #ff00b2) drop-shadow(-10px 10px 10px #000);
	transition: ease 250ms font-palette;
	transform: rotate(10deg);
	text-shadow: -5px 0px 0 #36fffe, 5px 0px 0 #36fffe;
}

.btn {
  color: purple; /* Change the color if you want */
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid purple;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  width: 250%;
}

.btn:hover {
  color: white;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: purple; /* Change the color if you want */
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}

.name{
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    color: purple;
    padding-left: 2em;
	text-align: center;
}

</style>